body {
	margin: 0;
	font-family: 'Outfit', Arial, sans-serif;
	line-height: 20Px;

}
header {
	background-image: url('IMG/header_hilda.png');
	 background-size: cover; 
    background-repeat: no-repeat; 
    text-align: center;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0;
}
header h1 {
	color: floralwhite;
	font-size: 80px;
}
header img {
	margin-bottom: -10px;
}
main {
	margin: 0px auto;
	max-width: 1400px;
	padding: 50px 20px 20px 100px;

}
h2 {
	font-size: 50px;
	color: #6A282C;
}
h3 {
	font-size: 30px;
}
main p {
    margin-bottom: 20px; 
}

main a {
    margin-top: 20px; 
    display: inline-block;
    color: white;
    background-color: #6A282C;
    border-radius: 10px;
    padding: 10px 30px;
    text-decoration: none;
}

main a:hover {
    color: white;
    background-color: #BC404C;
}

.friends-container {
    display: flex;
    gap: 100px;
    margin: 20px; 
}

.friend {
    flex: 1; 
    padding: 60px; 
    border: 1px solid #ccc; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
    gap: 30px;
}
.world-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: 20px; 
}
.world {
    flex: 1; 
    margin: 10px; 
    padding: 20px;
}

footer {
    margin-top: 60px; /* Correction ici */
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #6A282C;
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: #BC404C;
}



