body {
	margin: 0;
	font-family: 'Outfit', Arial, sans-serif;
	line-height: 20Px;

}
header {
	background-image: url('img/header_hilda.png');
	 background-size: cover; 
    background-repeat: no-repeat; 
    text-align: center;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0;
}
header h1 {
	color: floralwhite;
	font-size: 80px;
}
header img {
	margin-bottom: -10px;
}
main {
	margin: 0px auto;
	max-width: 1400px;
	padding: 50px 20px 20px 100px;

}
h2 {
	font-size: 50px;
	color: #6A282C;
}
h3 {
	font-size: 30px;
}
main p {
    margin-bottom: 20px; /* Espace entre le paragraphe et le lien */
}

main a {
    margin-top: 20px; /* Espace au-dessus du lien */
    display: inline-block;
    color: white;
    background-color: #6A282C;
    border-radius: 10px;
    padding: 10px 30px;
    text-decoration: none;
}

main a:hover {
    color: white;
    background-color: #BC404C;
}

.friends-container {
    display: flex;
    gap: 100px; /* Définit l'espace entre les colonnes */
    margin: 20px; /* Marge autour du conteneur */
}

.friend {
    flex: 1; /* Chaque colonne prend une part égale de l'espace */
    padding: 60px; /* Ajoute du remplissage */
    border: 1px solid #ccc; /* Optionnel : ajoute une bordure */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Optionnel : ajoute une ombre */
    gap: 30px;
}
.world-container {
    display: flex; /* Active Flexbox */
    justify-content: space-between; /* Espace entre les colonnes */
    align-items: center; /* Aligne verticalement */
    margin: 20px; /* Espace autour du conteneur */
}

.world {
    flex: 1; /* Chaque colonne prend une part égale de l'espace */
    margin: 10px; /* Espace entre les colonnes */
    padding: 20px; /* Ajoute du remplissage si nécessaire */
     
}

footer {
	margin-to: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #6A282C ;
	color: white;
}
footer a {
	color: white;
}
footer a:hover {
	color: #BC404C;
}
